replicaCount: 1

image:
  repository: yasaman664/bitpin-task
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: NodePort
  port: 80
  targetPort: 8000
  nodePort: 30505

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: bitpin.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

volumes:
  static:
    type: emptyDir
  media:
    type: emptyDir

env:
  djangoSettingsModule: "Exchange.settings"
  database:
    secretName: "bitpin-cluster-app"
    hostKey: "host"
    portKey: "port"
    nameKey: "dbname"
    userKey: "user"
    passwordKey: "password"

livenessProbe:
  httpGet:
    path: /healthz/
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 20
  timeoutSeconds: 1
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /healthz/
    port: 8000
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
