replicaCount: 1

image:
  repository: yasaman664/bitpin-task
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: NodePort
  port: 80
  targetPort: 8000
  nodePort: 30505

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: bitpin.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}
  # limits:
  #   cpu: 500m
  #   memory: 512Mi
  # requests:
  #   cpu: 250m
  #   memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

volumes:
  static:
    type: emptyDir
  media:
    type: emptyDir

database:
  secretName: bitpin-cluster-app
  hostKey: host
  portKey: port
  dbnameKey: dbname
  userKey: user
  passwordKey: password

env:
  - name: DJANGO_SETTINGS_MODULE
    value: Exchange.settings

livenessProbe:
  httpGet:
    path: /healthz/
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 20
  timeoutSeconds: 1
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /healthz/
    port: 8000
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3

