stages:
  - build
  - test
  - deploy

variables:
  IMAGE_NAME: yasaman664/bitpin-task
  DEPLOYMENT_NAME: bitpin-app
  KUBE_NAMESPACE: bitpin-task

build:
  stage: build
  image: docker:24
  services:
    - docker:dind
  script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_TOKEN"
    - docker build -t $IMAGE_NAME:$CI_COMMIT_SHA .
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA
    - docker tag $IMAGE_NAME:$CI_COMMIT_SHA $IMAGE_NAME:latest
    - docker push $IMAGE_NAME:latest

test:
  stage: test
  image: python:3.11-slim
  script:
    - pip install -r requirement.txt
    - python3 Exchange/manage.py test

deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - echo "$KUBECONFIG_CONTENT" > kubeconfig
    - export KUBECONFIG=$(pwd)/kubeconfig
    - kubectl -n $KUBE_NAMESPACE set image deployment/$DEPLOYMENT_NAME bitpin-container=$IMAGE_NAME:$CI_COMMIT_SHA
    - kubectl -n $KUBE_NAMESPACE rollout status deployment/$DEPLOYMENT_NAME
  only:
    - main
